@font-face {
    font-family: "Daily Challenge Demo";
    src: url("../public/font/DailyChallengeDEMO.otf") format("opentype")
}


:root{
    --blue: #1E60E4;
    --white: #FFFFFF;
    --purple: #611F5F;
    --darker-purple: #3C0E3C;
    --dark-purple: #521B53;
    --pratique: #FDE75B;
    --impression: #FF5AAF;
    --digital: #3BD1FF;
}

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: var(--dark-purple);
}
// ACCUEIL
.accueil{
    background: url("../public/images/bg.svg");
    height: 100vh;
    

    & > img{
        margin: 30% 0 30% 0;
        height: 25%;
    }

    & > h2{
        font-size: 15px;
        color: var(--white);
        margin: 0 14%;
        text-align: center;
        line-height: 24px;
    }

    & > p{
        background-color: var(--white);
        padding: 18px 5px;
        text-align: center;
        margin: 10% 25%;
        border-radius: 12px;
        color: var(--blue);
        font-size: 18px;
        font-weight: medium;
    }

    & > .planets{
        display: flex;
        justify-content: space-evenly;

    }
}

// NAV
.search-categorie{
    height: fit-content;
    width: 100%;
    box-sizing: border-box;

    & > img{
        height: 50px;
        margin: 50px 0 30px 0;
    }

    & > .choice{
        height: 52px;
        width: 90%;
        margin-left: 50%;
        transform: translate(-50%);
        display: flex;
        border: var(--darker-purple) 2px solid;
        border-radius: 8px;
        box-shadow: -4px 4px #3c0e3c7f;
        margin-bottom: 20px;

        & > .search-btn{
            background: linear-gradient(to right, #3c0e3c7f 50%, #611F5F 50%) left;
        }
        
        & > .categorie-btn{
            background: linear-gradient(to left, #3c0e3c7f 50%, #611F5F  50%) right;
        }

        & > .search-btn, & > .categorie-btn{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            background-size: 200% 100%;
            transition: 1s ease;

            & > span{
                color: rgba(255, 255, 255, 0.74);
                font-family: 'Lato', sans-serif;
                font-style: italic;
            }
        }

        & > .search-btn.actived{
            background-position: right;
        }
        
        & > .categorie-btn.actived{
            background-position: left;
        }
        
        & > .actived{
            border-radius: 8px;

            & > span{
                color: var(--white);
            }
        }
    }
}

// SECTION SEARCH

.search{

    // BARRE DE RECHERCHE
    & > .search-bar{
        height: 52px;
        border-radius: 8px;
        border: rgba(255, 255, 255, 0.74) 2px solid;
        display: flex;
        align-items: center;

        & > button{
            background-color: inherit;
            border: none;
        }

        & > input{
            outline: none;
            font-size: 18px;
            height: 30px;
            width: 80%;
            background-color: inherit;
            border: none;
            color: var(--white);
        }

        & > input::placeholder{
            color: var(--white);
        }
    }

    & > .listDef{
        margin-top: 20px;
        height: 60%;
        width: 100%;

        & > .def{
            height: 60px;
            width: 100%;
            background-color: var(--purple);
            flex-shrink: 0;
            border-radius: 17px;
            margin-bottom: 4px;
            font-size: 16px;
            // font-weight: 600;
            box-sizing: border-box;
            padding: 12px;

            & > h3{
                color: var(--white);
                margin-bottom: 5px;
            }
        }
    }

    & > .search-bar, & >.listDef{
        width: 90%;
        margin-left: 50%;
        transform: translate(-50%);
    }
}


// SECTION CATEGORIE

.categorie{
    &  .categorie-1,  .categorie-2, .categorie-3{
        height: 25vh;
        display: flex;
        align-items: center;

        & > h2{
            font-size: 60px;
            text-transform: uppercase;
            font-family: "Daily Challenge Demo";
        }
    }

    & > .categorie-1{
        position: relative;

        & > h2{
            margin-left: 15%;
        }

        & > img{
            width: 40%;
            height: 75%;
            right: 12%;
            position: absolute;
        }
    }
    & > .categorie-2{
        position: relative;

        & > h2{
            position: absolute;
            right: 5%;
        }

        & > img{
            width: 40%;
            height: 68%;
            margin-left: 8%;
        }
    }
    & > .categorie-3{
        position: relative;

        & > h2{
            margin-left: 15%;
        }

        & > img{
            width: 40%;
            height: 69%;
            right: 12%;
            position: absolute;
        }
    }
}

// HEADER CATEGORIE DEF
.categorieDef{
    position: relative;
    margin-left: 50%;
    transform: translate(-50%);
    width: 85%;
    height: 100px;
    display: flex;
    align-items: center;

    & > .bande{
        background-color: #FF8201;
        width: 90%;
        height: 60%;
        border-radius: 8px;
        border: 2px #3C0E3C solid;
        color: #FFFFFF;
    }

    & > img{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
    }
}

.digitalBG{
    background-color: var(--blue);
}

.impressionBG{
    background-color: var(--impression);
}

.pratiqueBG{
    background-color: var(--pratique);
}
.digital{
    color: var(--blue);
}

.impression{
    color: var(--impression);
}

.pratique{
    color: var(--pratique);
}